
body {
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.row-c {
    display: none;
}

section.flex-c img {
    display: block;
}

/* For tablet/mid sized screens */
@media (min-width: 640px) {

    body {
        max-width: 640px;
        flex-wrap: wrap;
    }

    section.flex-c img {
        display: none;
    }
    section.row-c {
        display: block;
    }

    section.row-c,
    section.flex-c {
        max-width: 50vw;
    }
}

/* For desktop/wide screens */
@media (min-width: 1024px) {
    body {
        max-width: 1240px;
    }
}
