:root {
    /* dark mode */
    --bgDark: #2b2b2b;
    --fgDark: #333;
    --textColorHeading-dark: #e0e5ec;
    --textColor-dark: LightGray;

    /* light mode */
    --bgLight: #e0e5ec;
    --textColorHeading-light: #333;
    --textColor-light: #666;

    /* btn colors */
    ---btn-textColor: #fff;
    --btn-primary: Red;
    --btn-secondary: transparent;

}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h5,
h6 {
    letter-spacing: 0.1rem;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    color: var(--textColorHeading-dark);
}

h4 {
    letter-spacing: 0.1rem;
    font-family: "Roboto Light", sans-serif;
    font-weight: lighter;
    color: var(--textColorHeading-dark);
}

footer div a,
i,
p {
    color: var(--textColor-dark);
}

footer div a i,
nav li a {
    color: var(---btn-textColor);
}

.btn,
header nav ul {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: -7px -7px 20px 0 #2b2b2b, -4px -4px 5px 0 #3b3b3b,
    7px 7px 25px 0 #0001, 2px 2px 10px 0 #0002;
    color: var(---btn-textColor);
}

.btn-primary {
    border-color: var(--btn-primary);
    background-color: var(--btn-primary);
    color: var(---btn-textColor);
}

.btn-secondary {
    border-color: var(--btn-secondary);
    background-color: var(--btn-secondary);
    color: var(---btn-textColor);
}

.btn-tertiary {
    color: var(---btn-textColor);
    border: 1px solid var(--textColor-dark);
}

body {
    font-family: Roboto, sans-serif;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px 10px;
    color: var(--textColor-dark);
    background-color: var(--bgDark);
}

footer,
header,
section {
    flex: 1 100%;
}

.row {
    flex: 1;
}

.flex {
    flex: 2;
}

header {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    justify-items: baseline;
    align-content: center;
}

img.logo {
    height: 70px;
}

nav {
    display: none;
}

#hamburger-menu {
    display: none;
    position: absolute;
}

#hamburger-menu:checked ~ nav {
    display: block;
    position: absolute;
    top: 1%;
    right: 56%;
}

label[for="hamburger-menu"] {
    z-index: 5;
    padding: 15px 0 0 0;
    font-size: 2.5em;
}

label[for="hamburger-menu"] span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: var(---btn-textColor);
}

label[for="hamburger-menu"]:hover {
    cursor: pointer;
}

header nav ul {
    background-color: var(--bgDark);
    position: absolute;
    list-style-type: none;
    padding-top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    row-gap: 30px;
    width: 55vw;
    height: 98vh;
    z-index: 3;
}

header nav ul li {
    width: 60%;
    border-radius: 5px;
}

header nav ul li a {
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

/*
select all li elements with classname active, set color on direct a-tag
select 5 first li elements which on hover, change color of direct a-tags
 */
header nav ul li.active > a,
header nav ul li:nth-child(-n + 5):hover > a,
i.icon-red-heart {
    color: var(--btn-primary);
}

/* selecting last 2 li elements */
header nav ul li:nth-last-child(-n + 2) {
    width: 70%;
}

section#hero {
    position: relative;
}

img {
    max-width: 100%;
}

section#hero > div.center {
    position: absolute;
    color: #fff;
    top: 50%;
    right: 15%;
    transform: translate(5%, -50%);
    font-size: 1.2rem;
    width: 500px;
    height: 300px;
    background: rgba(0, 0, 0, 0.6);
}

section#hero > div.center h1 {
    margin: 0;
    padding: 90px 0 15px 10px;
    letter-spacing: 0.2rem;
}

section#hero > div.center p {
    margin: 0;
    padding: 0 0 0 10px;
    font-weight: lighter;
}

section.row {
    padding: 20px 0;
}

section.flex-a,
section.flex-b {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

section.flex-a div.card,
section.flex-b div.card {
    max-width: 400px;
    padding: 0 10px 20px 10px;
    border-radius: 8px;
    background-color: var(--fgDark);
    box-shadow: -7px -7px 20px 0 #2b2b2b, -4px -4px 5px 0 #2b2b3b,
    7px 7px 25px 0 #0001, 2px 2px 10px 0 #0006;
    margin: auto;
}

section.flex div.card div.card-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: bolder;
}

div.card-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

div.card-buttons a:first-child {
    width: 43%;
}

div.card-buttons a:last-child {
    width: 53%;
}

footer {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
}

footer div:first-child {
    justify-content: left;
}

footer div.icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
}

footer p a {
    letter-spacing: 0.05em;
    font-weight: 700;
    text-decoration: none;
}

footer div:last-child {
    text-align: center;
    margin-top: 40px;
}

input {
    box-shadow: -7px -7px 20px 0 #2b2b2b, -4px -4px 5px 0 #2b2b3b,
    7px 7px 25px 0 #0001, 2px 2px 10px 0 #0006;
    color: var(--textColor-dark);
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--fgDark);
    padding: 15px 10px;
    outline: 0;
}

input:focus {
    box-shadow: -7px -7px 20px 0 #2b2b2b, -4px -4px 5px 0 #2b2b3b,
    inset 4px 4px 25px 0 #0001, inset 2px 2px 10px 0 #0006;
}

input:focus::placeholder {
    color: transparent;
}


/* breadcrumbs */
section.breadcrumbs-section ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: var(--bgDark);
}

section.breadcrumbs-section ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

section.breadcrumbs-section ul.breadcrumb li + li:before {
    padding: 8px;
    color: #fff;
    content: "/\00a0";
}

section.breadcrumbs-section ul.breadcrumb li a {
    color: #888;
    text-decoration: none;
}

section.breadcrumbs-section ul.breadcrumb li a:hover {
    color: var(--btn-primary);
    text-decoration: underline;
}

section.row-game-details div.row-cod {
    background: url("../assets/images/cod.jpg") center top no-repeat;
}

section.row-game-details div.row-valorant {
    background: url("../assets/images/valorant.jpeg") center top no-repeat;
}

section.row-game-details div.row-skyrim {
    background: url("../assets/images/skyrim.jpg") center top no-repeat;
}

section.row-game-details div.row-fortnite {
    background: url("../assets/images/fortnite-light.jpg") center top no-repeat;
}

section.row-game-details div.row-cod,
section.row-game-details div.row-valorant,
section.row-game-details div.row-skyrim,
section.row-game-details div.row-fortnite {
    background-size: contain;
    min-height: 30vh;
}

/* PREVIOUS PAGE BUTTONS */
/* probably bad practice, I honestly don´t know. Using for prototyping purpose */

form.box-btn-previous {
    padding: 5px 10px;
}

.btn-previous {
    font-family: FontAwesome, 'Roboto', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: var(---btn-textColor);
    border-radius: 5px;
    border: none;
    margin: 5px 10px;
    width: 70px;
    padding: 11px;
}

/* ACCOUNT PAGE STYLING */

/**//**//*//**//* ACCOUNT PAGE STYLING *//**//**//*//**/
li.btn-account-primary a.nav-account-icons {
    padding: 0 20px 0 20px;
}

h1.h1-center {
    padding: 50px 0 10px 0;
}
h1.h1-center,
h2.h2-center{
    text-align: center;
}

section.row-account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--fgDark);
    box-shadow: -7px -7px 20px 0 #2b2b2b,
    -4px -4px 5px 0 #2b2b3b,
    7px 7px 25px 0 #0001,
    2px 2px 10px 0 #0006;
}

section.row-account > *,
section.row-account ul li,
section.row-account ul li a {
    color: var(---btn-textColor);
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1em;
    padding: 10px 10px 10px 10px;
    transition: .5s;
}

section.row-account ul li a {
    display: inline-block;
    min-width: 350px;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    background-color: var(--fgDark);
    box-shadow: -7px -7px 20px 0 #2b2b2b,
    -4px -4px 5px 0 #2b2b3b,
    7px 7px 25px 0 #0001,
    2px 2px 10px 0 #0006;
    transition: .5s;
}

section.row-account ul li a:hover {
    padding: 15px 25px 15px 25px;
}

section.row-account ul li a:hover i {
    color: var(--btn-primary);
}


section.row-account div.circle > p,
header ul li.btn-account-primary {
    font-size: 24px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 100px;
}

section.row-account div.circle > p {
    border: 1px solid #1212;
    background-color: var(--fgDark);
    box-shadow: -7px -7px 20px 0 #2b2b2b,
    -4px -4px 5px 0 #2b2b3b,
    7px 7px 25px 0 #0001,
    2px 2px 10px 0 #0006;
}

section.row-account a.account-icons {
    font-size: 1em;
    padding: 5px;
}

div.account-footer {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: lighter;
}

div.account-footer a.flex {
    width: 330px;
}

img.account-footer-logo {
    padding: 15px 0;
    width: 80px;
}

div.account-footer a {
    color: var(---btn-textColor);
    text-decoration: none;
}

div.account-footer a i {
    padding: 5px 0;
}


/**//**//*//**//* FORM PAGES  STYLING *//**//**//*//**/
/* LOGIN / SIGNUP / CONTACT pages */
section.form-sections {
    display: flex;
    flex-direction: column;
}

section.form-sections div.row-first-split,
section.form-sections div.row-second-split {
    text-align: center;
    background-color: #1b1b1b;
    border-radius: 10px 10px 0 0;
    box-shadow: -7px -7px 20px 0 #2b2b2b,
    -4px -4px 5px 0 #2b2b3b,
    7px 7px 25px 0 #0001;
}

section.form-sections div.form {
    background-color: var(--fgDark);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
}

section.form-sections div.form form ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section.form-sections div.form form ul li {
    list-style-type: none;
    text-decoration: none;
    text-align: left;
}

input,
textarea {
    box-shadow: -7px -7px 20px 0 #2b2b2b,
    -4px -4px 5px 0 #2b2b3b,
    7px 7px 25px 0 #0001,
    2px 2px 10px 0 #0006;
    width: 90%;
    color: var(--textColor-dark);
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--fgDark);
    margin: 20px;
    padding: 15px 10px;
    outline: none;
}

input:focus,
textarea:focus {
    box-shadow: -7px -7px 20px 0 #2b2b2b,
    -4px -4px 5px 0 #2b2b3b,
    inset 4px 4px 25px 0 #0001,
    inset 2px 2px 10px 0 #0006;
}

input:focus::placeholder {
    color: transparent;
}

textarea#msg {
    vertical-align: top;
    height: 15em;
    resize: none;
}

button[type="submit"],
button a {
    border: none;
    padding: 15px;
    width: 50%;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--btn-primary);
}

section.row-split div.form form div a i {
    color: var(--textColor-dark);
    font-size: 2em;
    padding: 20px 15px 40px 15px;
}


section form ul li:last-child,
section form ul li:last-child a {
    color: var(---btn-textColor);
    text-align: right;
}

/* SHOPPING CART PAGE */
section.shopping-bag {
    display: flex;
    flex-direction: row;
    background-color: var(--fgDark);
    border-radius: 5px;
    box-shadow: -7px -7px 20px 0 #2b2b2b,
    -4px -4px 5px 0 #2b2b3b,
    4px 4px 25px 0 #0001,
    2px 2px 10px 0 #0006;
    padding: 25px;
    margin: 10px 0;
}

div.shopping-cart-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 20%;
    flex-shrink: 1;
}

div.shopping-cart-col .shrink {
flex-shrink: 2;
}

input.product-quantity {
    height: 30px;
    width: 40px;
    text-align: center;
}

div.shopping-cart-col img {

}


/***************** CHECKOUT PAGE *****************/
section.checkout-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

section.checkout-section {
    text-align: center;
}

div.checkout-section {
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-color: var(--fgDark);
    border-radius: 5px;
    box-shadow: -7px -7px 20px 0 #2b2b2b,
    -4px -4px 5px 0 #2b2b3b,
    4px 4px 25px 0 #0001,
    2px 2px 10px 0 #0006;
    padding: 25px;
}

div.checkout-row {
    display: flex;
    flex-direction: row;
}

div.checkout-payment-icons {
    display: flex;
    flex-direction: row;
    justify-items: baseline;
}

div.checkout-payment-icons i {
    font-size: 2.3em;
    padding: 15px;
}

div.order-details {
    justify-content: space-between;
}


@media (min-width: 640px) {
    body {
        max-width: 640px;
    }
}

@media (min-width: 1024px) {
    body {
        max-width: 1240px;
    }

    label[for="hamburger-menu"] {
        display: none;
    }

    header {
        column-gap: 35px;
        max-height: 100px;
        align-items: center;
    }

    header nav {
        width: 100%;
        display: flex;
    }

    header nav ul {
        box-shadow: none;
        position: relative;
        max-height: 10px;
        flex-direction: row;
        column-gap: 10px;
        margin: 0;
        padding: 0;
    }

    footer > div > a > img.logo {
        height: 92px;
    }

    footer div.icons a {
        display: block;
        padding: 30px 30px 30px 30px;
        transition: 0.5s;
        font-size: 1.05em;
    }

    footer div.icons a:hover {
        padding: 20px 30px 20px 30px;
        background: -webkit-linear-gradient(
                var(--btn-primary),
                var(--textColor-dark)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .checkout-img,
    section.row-game-details div.row-cod,
    section.row-game-details div.row-valorant,
    section.row-game-details div.row-skyrim,
    section.row-game-details div.row-fortnite {
        background-size: cover;
        /* max-width: 50%; /**/
    }

    section.checkout-section {
        flex-direction: row;
    }
}
